<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/style.css" rel="stylesheet">
        <title>Eleventy Vento Test</title>
    </head>
    <body>
        {{ export message = "Hello, world!" }}
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            <h2>Vento Import and Export</h2>
            <p>Exported value: {{ message }}</p>
           {{ content }}
        </main>
    </body>
</html>
