<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/style.css" rel="stylesheet">
        <title>Eleventy Vento Test</title>
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            <h2>Vento Import and Export</h2>
            {{ export message = "Hello, world!" }}
            {{ export messageTwo }}"Hello, Vento!"{{ /export }}
            <p>Exported variable value: {{ message }}</p>
            <p>Exported block variable value: {{ message2 }}</p>
           {{ content }}
           {{ include "partials/section.vto" }}
        </main>
    </body>
</html>
